RewriteEngine On
Options All -Indexes
Options +FollowSymLinks -MultiViews

RewriteRule ^css/(.*)$ /source/Views/Assets/css/$1 [NC,L]
RewriteRule ^js/(.*)$ /source/Views/Assets/js/$1 [NC,L]
RewriteRule ^images/(.*)$ /source/Views/Assets/images/$1 [NC,L]

# ROUTER WWW Redirect.
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ROUTER HTTPS Redirect
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ROUTER URL Rewrite
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=/$1 [L,QSA]

